<p id="notice"><%= notice %></p>

<table class="table col-6">
  
  <tbody>
    <tr>
      <td><strong>Nombre del Bebes:</strong></td>
      <td><%= Baby.find_by(id: @feed.baby_id).name %></td>
    </tr>
    <tr>
      <td><strong>Cantidad de alimentos:</strong></td>
      <td><%= @feed.cantidad %> ml </td>
    </tr>
    <tr>
      <td><strong>Segundos de alimentación:</strong></td>
      <td><%= @feed.time %> Secs</td>
    </tr>
    <tr>
      <td><strong>Fecha:</strong></td>
      <td><%= @feed.date.strftime('%H:%M - %d/%m/%Y') %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to 'Index, vuelva prontos', feeds_path, :class => "badge badge-light text-reset"  %></p>
<p><%= link_to 'Editar', edit_feed_path(@feed), :class => "badge badge-light text-reset"  %> </p>
