<p id="notice"><%= notice %></p>

<h1>Control de alimentación</h1>

<table>
  <thead>
    <tr>
      <th>Nombres del bebé</th>
      <th>Veces alimentados</th>
      <th>Total de alimentos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.name %></td>
        <td><%= baby.feed.count %></td>
        <td><%= baby.total_feed %></td>
        <td><%= link_to 'Detalle', baby %></td>
        <td><%= link_to 'Renombrar', edit_baby_path(baby) %></td>
        <td><%= link_to 'Regalar bebes', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Oh no! Más bebes Manjula!', new_baby_path %>
